<h3>Welcome to TranslateApp </h3>
<%= simple_form_for @language, :url => language_path do |f| %>
  <%= f.collection_radio_buttons(
    :ndex, (1..5).map {|id| [id, id]}, :first, :last
  ) do |b| %>
  <div class="language-choice-container">
    <%= b.label { image_tag("flags/#{b.text}.png") + b.radio_button } %>
  </div>
<% end %>
  <%= f.button :submit, class: "choose-language-btn", name: "chooselanguage" %>
<% end %>
